@model CategoryViewModel
<h1>Add Category</h1>
<hr/>
<form method="post">
    <div class="form-control"
    <label asp-for="Name">Category Name</label>
    <input type="text" asp-for="Name"/>
    </div>
    <input type="submit" value="submit"/>
</form>